<div class = "how-to-play-button-container">
        <button type="button" id="how-to-play-button">HOW TO PLAY?<i class="action-button"></i></button>
        </div>

<div id="instruction-backdrop" class="hidden"></div>
<div id="instruction-modal" class="hidden">
    <div class="instruction-dialog">

        <div class="instruction-header">
            <h2 class="how-to-play-button-instruction">HOW TO PLAY?</h2>
            <button type="button" id="instruction-close" class="instuction-hide-button">&times;</button>
        </div>

        <div class="instruction-body">

            <div class="instructions">
                <p>
                    There are 2 players connected to the website. The game will start as soon as 2 players
                    will be in the lobby. The game will randomly decide who starts first. Then, if the 2nd player will
                    guess correctly the player that drawing will give points to another 2nd player. The winner will be
                    the player who scores 3 points first.
                </p>
            </div>

        </div>

    </div>