<header>
    <a href="/" style="text-decoration: none";>
            <h1 class= "site-title">  Guess the drawing! </h1> 
            </a>
    <div class="homepage-image-container">
        <img src="logo.png" alt="homepage logo">
    </div>
    <div class = "play-button-container">
          <a href="/canvas" style="text-decoration: none";>
        <button id="play-game" class="action-button">START GAME!</button>
            </a>
        </div>
</header>

<main class="main-page">
    {{>instructionButton}}
</main>